name: CI
on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        target: [eval, js, hl, cpp, jvm, php, python, neko]
        exclude:
          # php is not available by default for macos runners, probably not worth bothering
          - os: macos-latest
            target: php
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: krdlab/setup-haxe@v2
        with:
          haxe-version: "2026-01-02_development_2606dc7"

      - name: Setup hashlink
        if: matrix.target == 'hl'
        uses: HaxeFoundation/setup-hashlink@v1
        with:
          version: nightly

      - name: Check hashlink
        if: matrix.target == 'hl'
        run: hl --version

      - name: Setup haxelib
        run: |
          haxelib newrepo
          ${{ matrix.target == 'jvm' }} && haxelib install hxjava || true
          ${{ matrix.target == 'cpp' }} && haxelib git hxcpp https://github.com/HaxeFoundation/hxcpp.git && haxe --cwd .haxelib/hxcpp/git/tools/hxcpp compile.hxml || true
          haxelib git utest https://github.com/Aidan63/utest.git coro
          haxelib dev hxcoro .
          haxelib list
          haxe -version
          neko -version

      - name: Run tests
        run: |
          haxe --cwd tests build-${{ matrix.target }}.hxml
          haxe --cwd tests build-${{ matrix.target }}.hxml --hxb bin/test.hxb
          haxe --cwd tests build-${{ matrix.target }}.hxml --hxb-lib bin/test.hxb
